*{
    margin: 0;
    padding: 0;
}

$primary-color: #E1FF8F;
$colorText:  #202027; 

.body {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

button {
    background:#202027;
    color: #FFFFFF;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    transition: 1s;
    font-family: Montserrat;
}
  
button:hover {
    background: #FFFFFF;
    color: #202027;
    cursor: pointer;
}

.header {
    background-image: url(./img/star1.png), url(./img/star2.png), url(./img/star3.png);
    background-repeat: no-repeat;
    background-position: 63px 69px, 100% 0px, calc(100% - 344px) calc(100% - 149px);
    background-color: $primary-color;
    height: 800px;

    &-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        &__big {
            font-size: 64px;
            line-height: 78px;
            color: $colorText;
            padding-top: 196px;
            max-width: 768px;
        }

        &__subtitle {
            font-size: 24px;
            line-height: 32px;
            color: $colorText;
            padding-top: 24px;
            font-weight: 400;
            max-width: 720px;
        }

        &__font {
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
        }

    }
    
    &__button {
        width: 247px;
        height: 66px;
        font-size: 24px;
        margin-top: 48px;
        background:#202027;
        color: #FFFFFF;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        transition: 1s;
        font-family: Montserrat;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &_mob {
            display: none;
        }
    }

    &__button:hover {
        background: #FFFFFF;
        color: #202027;
        cursor: pointer;
    }
}

.scrol-bar {
    max-width: 100%;
    height: 90px;
    background-color: #BCEC30;
    overflow: hidden;
}

@keyframes scroll {
    0% { transform: translateX(0); } 
    100% { transform: translateX(-100%); } 
  }

.streak {
    display: flex;
    gap: 51px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    animation: scroll 10s infinite linear;
 
    &__text {
        text-transform: uppercase;
        padding-top: 29px;
    }

    &__star {
        padding-top: 29px;
    }
}

.card-game {
    background-color: #202027;
    background-image: url(./img/Star4.png), url(./img/star5.png);
    background-repeat: no-repeat;
    background-position: 100% 77px, 25px 770px;

    &__text {
        &-top {
            color: white;
            padding-top: 94px;
            font-size: 64px;
            line-height: 78px;
        }

        &-subtitle {
            color: #FFFFFF;
            padding-top: 24px;
            font-size: 24px;
            line-height: 32px;
            max-width: 788px;
        }
    }
}

.game {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    padding-top: 72px;

    &__card {
        grid-column: span 4;
        border-radius: 30px;
        
    
        &_guess {
            box-sizing: border-box;
            background: #FFFFFF;
            width: 378px;
            height: 473px;
        }

        &_guess:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_arithmetic {
            box-sizing: border-box;
            background: #FFFFFF;
            width: 378px;
            height: 512px;
        }

        &_arithmetic:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_textover {
            box-sizing: border-box;
            background: #FFFFFF;
            width: 378px;
            height: 473px;
        }

        &_textover:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_stone {
            box-sizing: border-box;
            background: #FFFFFF;
            width: 378px;
            height: 551px;
            margin-top: -39px;
        }

        &_stone:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_quiz {
            box-sizing: border-box;
            background: #FFFFFF;
            width: 378px;
            height: 512px;
        }

        &_quiz:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_random {
            box-sizing: border-box;
            background: #FFFFFF;
            width: 378px;
            height: 551px;
            margin-top: -39px;
        }

        &_random:hover {
            transform: scale(1.1);
            transition: 1s;
        }

    }
}     

.card-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 32px 32px 36px 32px;
    gap: 16px;
    
    &__namber {
        color: #202027;
        font-size: 16px;
        font-weight: 500;
        border-radius: 52.58px;
        width: 108px;
        padding: 8px 16px 10px 16px;
        text-align: center;
        background-color: #F7F7F7;
    }

    &__name {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        color: #202027;
    }

}

.mini-game {
    background-color: #202027;
    background-image: url(./img/Group1minigame.png), url(./img/Group2minigame.png);
    background-position: 1281px 93px, 1249px calc(100% - 45px);
    background-repeat: no-repeat;
    padding-top: 98px;
    padding-bottom: 144px;
    
    &__text {
        color: #FFFFFF;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }

    &__card {
        padding-top: 72px;
        display: flex;
        gap: 32px;
        flex-direction: column;

    }
}
    
.card {
    max-width: 1200px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
        

        &__left {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        &-content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 24px;
            padding: 48px;
            max-width: 505px;

                &__name {
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 59px;
                    color: rgb(32, 32, 39);
                }

                &__description {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 32px;
                    color: #202027;
                }

                &__button {
                    width: 247px;
                    height: 66px;
                    margin-top: 12px;
                    color: rgb(255, 255, 255);
                    font-size: 24px;
                    font-weight: 600;
                }
        }
}       

.footer {
    background: #BDED35;
        &__text {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            text-align: center;
            padding-top: 61px;
            padding-bottom: 60px;
        }
}

.guess-input {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }

@import 'mobile';