*{
    margin: 0;
    padding: 0;
}

$primary-color: #E1FF8F;
$colorText:  #202027; 

.body {
    
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
  }


.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

.header {

    background-image: url(./img/star1.png), url(./img/star2.png), url(./img/star3.png);
    background-repeat: no-repeat;
    background-position: 63px 69px, 100% 0px, calc(100% - 344px) calc(100% - 149px);
    background-color: $primary-color;
    height: 800px;


    &__text {

        &-big {
            font-size: 64px;
            line-height: 78px;
            color: $colorText;
            padding-top: 196px;
            max-width: 768px;
        }

        &-subtitle {
            font-size: 24px;
            line-height: 32px;
            color: $colorText;
            padding-top: 24px;
            font-weight: 400;
            max-width: 720px;
        }

        &-font {
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
        }

    }
    

    &__button {
        background:#202027;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        color: #FFFFFF;
        width: 247px;
        height: 66px;
        font-size: 24px;
        font-family: Montserrat;
        margin-top: 48px;
    }

    &__button:hover {
        background: white;
        color: #000000;
        cursor: pointer;
    }
}

.card-game {
    background-color: #000000;
    height: 1470px;
    background-image: url(./img/Star4.png), url(./img/star5.png);
    background-repeat: no-repeat;
    background-position: 100% 77px, 25px 770px;

    &__text {
        &-top {
            color: white;
            padding-top: 94px;
            font-size: 64px;
            line-height: 78px;
        }

        &-susubtitle {
            color: #FFFFFF;
            padding-top: 24px;
            font-size: 24px;
            line-height: 32px;
            max-width: 788px;
        }
    }

    &__card {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: 1056px;
        gap: 32px;
        padding-top: 72px;
       
        &_game1 {
            height: 473px;
            width: 378px;
            background-color: #FFFFFF;
            grid-column: span 4;
            border-radius: 30px;
            background-image: url(./img/Game1.png);
            background-position: 100% calc(100% - 159px);
            background-repeat: no-repeat;
        }

        &_game1:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_game2 {
            height: 512px;
            width: 378px;
            background-color: #FFFFFF;
            grid-column: span 4;
            border-radius: 30px;
            background-image: url(./img/game2.png);
            background-repeat: no-repeat;
            background-position: 100% calc(100% - 198px);
        }

        &_game2:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_game3 {
            height: 473px;
            width: 378px;
            background-color: #FFFFFF;
            grid-column: span 4;
            border-radius: 30px;
            background-image: url(./img/game3.png);
            background-repeat: no-repeat;
            background-position: 100% calc(100% - 159px);
        }

        &_game3:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_game4 {
            height: 551px;
            width: 378px;
            background-color: #FFFFFF;
            grid-column: span 4;
            border-radius: 30px;
            margin-top: -39px;
            background-image: url(./img/game4.png);
            background-repeat: no-repeat;
            background-position: 100% calc(100% - 237px);
        }

        &_game4:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_game5 {
            height: 512px;
            width: 378px;
            background-color: #FFFFFF;
            grid-column: span 4;
            border-radius: 30px;
            background-image: url(./img/game5.png);
            background-repeat: no-repeat;
            background-position: 100% calc(100% - 198px);
        }

        &_game5:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_game6 {
            height: 551px;
            width: 378px;
            background-color: #FFFFFF;
            grid-column: span 4;
            border-radius: 30px;
            margin-top: -39px;
            background-image: url(./img/game6.png);
            background-repeat: no-repeat;
            background-position: 100% calc(100% - 237px);
        }

        &_game6:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        &_namber {
            color: #202027;
            margin-top: 354px;
            margin-left: 32px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 52.58px;
            background: rgb(247, 247, 247);
            width: 108px;
            padding: 8px 16px 10px 16px;
            text-align: center;
        }

        &_name {
            font-size: 32px;
            line-height: 39px;
            padding-top: 16px;
            color: #202027;
            text-decoration: none;
            padding-left: 32px;
            font-weight: 700;
        }
    }
}

.mini-game {
    height: 3500px;
    background-color: #000000;
    background-image: url(./img/Group1minigame.png), url(./img/Group2minigame.png);
    background-position: 1281px 93px, 1249px calc(100% - 45px);
    background-repeat: no-repeat;

    &__text {
        color: #FFFFFF;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 46px;
    }

    &__card {
        padding-top: 72px;
        display: flex;
        gap: 32px;
        flex-direction: column;

        &_content-left {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            padding-top: 48px;
            padding-left: 48px;
            gap: 24px;
        }

        &_content-right {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            padding-left: 648px;
            padding-top: 48px;
            gap: 24px;

        }

        &_guess {
            max-width: 1200px;
            height: 500px;
            background: #FFFFFF;
            border-radius: 30px;
            background-image: url(./img/guess.png);
            background-repeat: no-repeat;
            background-position: 600px 100%;
        }

        &_arithmetic {
            max-width: 1200px;
            height: 500px;
            background: #FFFFFF;
            border-radius: 30px;
            background-image: url(./img/arithmetic.png);
            background-repeat: no-repeat;
            background-position: 0 100%;
        }

        &_textover {
            max-width: 1200px;
            height: 500px;
            background: #FFFFFF;
            border-radius: 30px;
            background-image: url(./img/textover.png);
            background-repeat: no-repeat;
            background-position: 600px 100%;
        }

        &_quiz {
            max-width: 1200px;
            height: 500px;
            background: #FFFFFF;
            border-radius: 30px;
            background-image: url(./img/quiz.png);
            background-repeat: no-repeat;
            background-position: 0 100%;
        }

        &_stone {
            max-width: 1200px;
            height: 500px;
            background: #FFFFFF;
            border-radius: 30px;
            background-image: url(./img/stone.png);
            background-repeat: no-repeat;
            background-position: 600px 100%;
        }

        &_random {
            max-width: 1200px;
            height: 500px;
            background: #FFFFFF;
            border-radius: 30px;
            background-image: url(./img/random.png);
            background-repeat: no-repeat;
            background-position: 0 100%;
        }

        &_leftname {
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            color: rgb(32, 32, 39);
        }

        &_leftdescription {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            max-width: 457px;
        }

        &_leftbutton {
            border-radius: 60px;
            background: rgb(32, 32, 39);
            width: 247px;
            height: 66px;
            margin-top: 12px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
        }

        &_leftbutton:hover {
            background: #FFFFFF;
            color: #000000;
            cursor: pointer;
        }

        &_rightname {
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            color: rgb(32, 32, 39);
        }

        &_rightdescription {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            max-width: 497px;
        }

        &_rightbutton {
            border-radius: 60px;
            background: rgb(32, 32, 39);
            width: 247px;
            height: 66px;
            margin-top: 12px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
        }

        &_rightbutton:hover {
            background: #FFFFFF;
            color: #000000;
            cursor: pointer;
        }
    }
}

.footer {
    height: 150px;
    background: #BDED35;

    &__text {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
        padding-top: 61px;
    }
}




@import 'mobile';





